<!DOCTYPE HTML>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="./bootstrap-4.3.1/bootstrap.min.css">
  <link rel="stylesheet" href="index&content.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Sửa giới thiệu nhà hàng</title>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="./bootstrap-4.3.1/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script src="https://kit.fontawesome.com/a9ea3721b5.js" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("a[href*='#backtotop']:not([href='#backtotop])").click(function() {
        let target = $(this).attr("href");
        $('html,body').stop().animate({
          scrollTop: $(target).offset().top
        }, 1000);
        event.preventDefault();
      });
    });
  </script>
  <style type="text/css">
    label{
      padding-top: 10px;
    }
  </style>
</head>
<body style="background-color: #eeeeee;" id = "backtotop">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning fixed-top">
      <div class="container">
        <a href="/home">
          <img src="images/cooky-black.png" style="width: 150px; height:auto;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" style="margin-left: 5%;" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="recommend.html">Giới thiệu<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="support.html">Trợ giúp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="rules.html">Điều khoản</a>
            </li>
          </ul>
          <form id="search" class="form-inline my-2 my-lg-0 ">
            <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm nhanh..." aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0 " type="submit">Tìm</button>
          </form>
          <!-- <button type="button" class="btn btn-light" onclick="window.location.href='signin.html'">Đăng nhập</button> -->
          
          <!-- Button trigger modal -->
          <%if(session.username){%>

          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
              <img src="images/avt.jpg"  style="border-radius: 50%;width: 30px;">
              <%=session.name%> </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="/logout">Đăng xuất</a>
              </div>
            </div>
            
            <%} else {%>
            <a class=" btn btn-light" href="/login">Đăng nhập</a>
            <%}%>
            
          </div>
        </nav>
      </header>

      <div class="container marketing"><br><br>
        <div class="row">
          <div class="col-1 col-sm-2 col-md-2"></div>
          <div class="col-10 col-sm-8 col-md-8">
            <div class="card" style="background-color: #cc9966;">
              <div class="card-header" ><h4 style="text-align: center;">Sửa Nhà Hàng Mới</h4></div>
              
              <form action="/suanhahang?id=<%=restau.id%>" method="POST">
                <div class="card-body">
                 <div class="form-group">
                  <label for="mon">Tiêu đề:</label>
                  <input type="text"  name="name" value="<%=restau.name%>" class="form-control" id="mon"  Required/>  
                  <label for="img">Ảnh nhà hàng:</label>
                  <input type="text" name="image" value="<%=restau.image%>" class="form-control" id="img"/>  
                  <label for="diachi">Địa chỉ:</label>
                  <input type="text" name="diachi" value="<%=restau.location%>" class="form-control" id="diachi"  Required/>  
                  <label for="mota">Mô tả ngắn:</label>
                  <textarea type="text" rows="3" name="mota" value=""  class="form-control" id="step" placeholder="Nội dung"  Required><%=restau.mota%></textarea>  
                  

                  
                  
                  <label for="nguyenlieu">Số món trong thực đơn:</label>
                  <input  type="number" class='form-control' name="somon" value="<%=menu.length%>"  style="border-radius: 5px; margin-bottom: 10px; width: 48%;" placeholder="Số nguyên liệu" onblur="checknumber(this);songuyenlieu(this.value);" value="1" min="1" max="20" >
                  
                  <%for(var i=0;i< menu.length;i++){%>
                  <div class="row" style="margin-top:15px;">
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="name<%=i+1%>" placeholder="Tên món" value="<%=menu[i].name%>" id="level"/> 
                    </div>
                    <div class="col-sm-6">
                      <input type="number" value="<%=menu[i].price%>"  placeholder="Giá tiền" name="gia<%=i+1%>" class="form-control" id="level"/>
                    </div>
                  </div><%}%>
                  <div id="nlieu"></div>
                  
                  <input  type="submit" class="btn btn-success btn-block" style="border-radius: 8px;margin-top: 25px;" value="Xác nhận"><br>
                </div>  
              </div>
            </form>
          </div><br>
          <div>
            <a href="#backtotop"><i class="fas fa-angle-double-up" style="font-size: 35px;color: #555;margin-left: 90%; "></i></a>
          </div>
          <hr id = "phienhoidap" class="featurette-divider">
        </div>
      </div>
    </div>
    <footer id="footer">
      <ul style="padding: 15px; margin-bottom: 0px;">
        <h3 style="padding-bottom: 0px;text-decoration: none;">Ăn ngon cùng Cooky</h3>

        <p style="font-size: 14px"> @2019 design by Team 5</p>
      </ul>
    </footer>
  </body>
  <script type="text/javascript">
    function checknumber(inp){
      if(inp.value=="")
        inp.value=1;
      if(inp.value>20)
      {
        alert("Tối đa 20 thôi bạn!!");
        inp.value=20;
      }
    }
    function songuyenlieu(sonl){
      var i;
      var num=sonl;
      var code="";
      var nl1='<div class="row" style="margin-top:15px;"><div class="col-sm-6"><input type="text" class="form-control" name="name';
      var nl2='" placeholder="Tên món" id="level" Required/> </div><div class="col-sm-6"><input type="number"  placeholder="Giá tiền" name="gia'
      var nl3='" class="form-control" id="level"  Required/></div></div>';
      for(i=<%=menu.length%>;i<num;i++){
        code+= nl1+(i+1)+nl2+(i+1)+nl3;
      }
      document.getElementById("nlieu").innerHTML=code;
    }
    

  </script>
  </html>