<!DOCTYPE HTML>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="./bootstrap-4.3.1/bootstrap.min.css">
  <link rel="stylesheet" href="index&content.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Sửa bài viết</title>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="./bootstrap-4.3.1/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script src="https://kit.fontawesome.com/a9ea3721b5.js" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("a[href*='#backtotop']:not([href='#backtotop])").click(function() {
        let target = $(this).attr("href");
        $('html,body').stop().animate({
          scrollTop: $(target).offset().top
        }, 1000);
        event.preventDefault();
      });
    });
  </script>
  <style type="text/css">
    label{
      padding-top: 10px;
    }
  </style>
</head>
<body style="background-color: #eeeeee;" id = "backtotop">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning fixed-top">
      <div class="container">
        <a href="/home">
          <img src="images/cooky-black.png" style="width: 150px; height:auto;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" style="margin: 0px 30px" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="recommend.html">Giới thiệu<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="support.html">Trợ giúp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="rules.html">Điều khoản</a>
            </li>
          </ul>
          <form id="search" class="form-inline my-2 my-lg-0 ">
            <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm nhanh..." aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0 " type="submit">Tìm</button>
          </form>
          <!-- <button type="button" class="btn btn-light" onclick="window.location.href='signin.html'">Đăng nhập</button> -->
          
          <!-- Button trigger modal -->
         <%if(session.username){%>
        </ul>

          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color:black" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=session.name%> </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/logout">Đăng xuất</a>
            </div>
          </div>
        
        <%} else {%>
      </ul>
            <a class=" btn btn-light" href="/login">Đăng nhập</a>
        <%}%>
        </div>
      </div>
    </nav>
  </header>

  <div class="container marketing"><br><br>
    <div class="row">
      <div class="col-1 col-sm-2 col-md-2"></div>
      <div class="col-10 col-sm-8 col-md-8">
        <div class="card" style="background-color: #33ccff;">
          <div class="card-header" ><h4 style="text-align: center;">Sửa Bài Viết</h4></div>
         
           <form action="/suabaiviet?id=<%=tieude.id%>" method="POST">
          <div class="card-body">
           <div class="form-group">
            <label for="mon">Tiêu đề:</label>
            <input type="text"  name="title" value="<%=tieude.title%>" class="form-control" id="mon" required />  
             <label for="img">Ảnh chính :</label>
            <input type="text" name="image" value="<%=tieude.image_link%>"  class="form-control" id="img"/>  
             
            <label for="mota">Mô tả ngắn:</label>
             <textarea type="text" rows="3" name="mota" value=""   class="form-control" id="step" placeholder="Nội dung" required><%=tieude.mota%></textarea>  
           

           
              
            <label for="nguyenlieu">Số mục trong bài viết:</label>
             <input  type="number" class='form-control' value="<%=muc.length%>"  name="somuc"  style="border-radius: 5px; margin-bottom: 10px; width: 48%;" placeholder="Số nguyên liệu" onblur="checknumber(this);songuyenlieu(this.value);" value="1" min="1" max="20" required>
           
                
        <%for(var i=0;i< muc.length;i++){%>
     
                
                <input type="text" style="margin-bottom:15px;" class="form-control" name="title<%=i+1%>" placeholder="Tên mục" id="level" value="<%=muc[i].title%>" required/> 
                
              
                <input type="text" style="margin-bottom:15px;" value="<%=muc[i].image%>"  placeholder="Link ảnh minh họa(Nếu không có xin hãy để trống)" name="anh<%=i+1%>" class="form-control" id="level"/>
                <textarea type="text" style="margin-bottom:15px;" rows="3" name="muc<%=i+1%>"  class="form-control" id="step" placeholder="Nội dung mục" required><%=muc[i].content%></textarea>  
                <%}%>
              <div id="nlieu"></div>
             
            <input  type="submit" class="btn btn-outline-success btn-block" style="border-radius: 8px;margin-top: 25px;" value="Xác nhận"><br>
          </div>  
        </div>
      </form>
      </div><br>
      <div>
        <a href="#backtotop"><i class="fas fa-angle-double-up" style="font-size: 35px;color: #555;margin-left: 90%; "></i></a>
      </div>
      <hr id = "phienhoidap" class="featurette-divider">
    </div>
  </div>
</div>
<footer id="footer">
  <ul style="padding: 15px; margin-bottom: 0px;">
    <h3 style="padding-bottom: 0px;text-decoration: none;">Ăn ngon cùng Cooky</h3>

    <p style="font-size: 14px"> @2019 design by Team 5</p>
  </ul>
</footer>
</body>
<script type="text/javascript">
  function checknumber(inp){
    if(inp.value=="")
      inp.value=1;
    if(inp.value>20)
    {
      alert("Tối đa 20 thôi bạn!!");
      inp.value=20;
    }
  }
  function songuyenlieu(sonl){
    var i;
    var num=sonl;
    var code="";
    var nl1='<input style="margin-bottom:15px;" type="text" class="form-control" name="title';
    var nl2='" placeholder="Tên mục" id="level" required/> <input type="text"  placeholder="Link ảnh minh họa(Nếu không có xin hãy để trống)" name="anh';
    var nl3='" class="form-control" style="margin-bottom:15px;" id="level"/><textarea type="text" rows="3" name="muc';
    var nl4='"  class="form-control" id="step" style="margin-bottom:15px;" placeholder="Nội dung mục" required></textarea>  ';
    for(i=<%=muc.length%>;i<num;i++){
      code+= nl1+(i+1)+nl2+(i+1)+nl3+(i+1)+nl4;
    }
    document.getElementById("nlieu").innerHTML=code;
  }
 

</script>
</html>